/*

!.gitignore

.config/*
!.config/
!README.md

.icons/*
!.icons/
!.icons/default/
!.icons/default/index.theme

.cargo/*
!.cargo/
!.cargo/env
!.cargo/env.fish

# !.config/kritarc
!.config/kritadisplayrc
!.config/kritashortcutsrc
!.config/kritakeybindsrc.shortcuts

.config/vicinae/*
!.config/vicinae/
!.config/vicinae/vicinae.json

!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/*

!.config/starship.toml
!.config/mimeapps.list
!.config/pavucontrol.ini
!.config/xdg-terminals.list
!.config/electron-flags.conf

.config/alacritty/*
!.config/alacritty/
!.config/alacritty/alacritty.toml

.config/fish/*
!.config/fish/
!.config/fish/config.fish

.config/fastfetch/*
!.config/fastfetch/
!.config/fastfetch/sauce/
!.config/fastfetch/config.jsonc

.config/hypr/*
!.config/hypr/
!.config/hypr/assets/
!.config/hypr/configuration/
!.config/hypr/hyprlock/
!.config/hypr/scripts/
!.config/hypr/shaders/

# You can replace this, I use a barebones one cuz of performance (fu ts_server)
!.config/nvim/

# Gotta finish this one, I'm tired of this waybar
!.config/quickshell/

# It's ok, but it isn't configured atm and I'm lazy af
!.config/hyprshell/

# Pretty good, but idk if I'll use this
.config/vicinae/*
!.config/vicinae/
!.config/vicinae/vicinae.json

# Temporary replacement
.config/waybar/*
!.config/waybar/
!.config/waybar/config
!.config/waybar/style.css

.config/mpv/*
!.config/mpv/
!.config/mpv/mpv.conf

.config/zellij/*
!.config/zellij/
!.config/zellij/config.kdl
!.config/zellij/layouts/
!.config/zellij/layouts/*

.local/*
.local/share/*
.local/share/icons/*
.local/share/fonts/*

!.local/
!.local/share/
!.local/share/icons/
!.local/share/icons/Bibata-Modern-Ice/

!.local/share/fonts/
!.local/share/fonts/JetBrains/
!.local/share/fonts/RobotoMono Nerd Font/
!.local/share/fonts/MapleMono/
!.local/share/fonts/CascadiaCove/
!.local/share/fonts/MaterialDesign/
!.local/share/fonts/Mononoki/
!.local/share/fonts/NotoSansCJK/

















































































































































































































































































































































# What you doin' here brotha, go back...












































































































































































































































































































































































































































































































































































# Welp, I have no clue what this website is all about, but seems fun ;)
# prodkeys [dotto com] net  |  nxbrew [dotto com] net  |  (please use adblock you freak)
