/* BASE */
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --rose-400: #fb7185;

  --background: var(--zinc-950);
  --foreground: var(--zinc-50);

  --base-1: 0.25rem;
  --base-2: 0.5rem;
  --base-3: 0.75rem;
  --base-4: 1rem;
  --base-5: 1.25rem;
  --base-6: 1.5rem;

  --m-1: var(--base-1);
  --m-2: var(--base-2);
  --m-3: var(--base-3);
  --m-4: var(--base-4);
  --m-5: var(--base-5);
  --m-6: var(--base-6);

  --p-1: var(--base-1);
  --p-2: var(--base-2);
  --p-3: var(--base-3);
  --p-4: var(--base-4);
  --p-5: var(--base-5);
  --p-6: var(--base-6);

  --radii-1: 4px;
  --radii-1-5: 6px;
  --radii-2: 8px;
  --radii-3: 12px;
  --radii-3-5: 14px;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid;

  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

button {
  font: inherit;
  font-feature-settings: inherit;
  letter-spacing: inherit;
  color: inherit;

  border-radius: 0;
  background-color: transparent;
  opacity: 1;
}

button {
  padding: unset;
  margin: unset;
  background-color: transparent;
  transition: transform 0.2s ease-in-out;
}

menubutton {
  padding: 0;

  button {
    padding: unset;
    margin: unset;
  }
}


/* NOTIFICATIONS */
.notification {
  background: var(--background);
  border-radius: 0 0 0 var(--radii-2);

  &-popup {
    min-width: 28rem;

    margin: 0;
    padding: var(--p-3) var(--p-4);

    color: var(--foreground);

    & .header {
      color: var(--zinc-100);

      & .app-name {
        font-weight: 600;
        font-size: var(--base-4);
        text-transform: capitalize;
      }

      & .app-close {
        color: var(--rose-400);
      }
    }

    & .content {
      padding: var(--p-4) 0px;
    }
  }
}
